node_modules/
dist/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
.env.staging
*.env

package-lock.json
.DS_Store
.vscode/
tasks-backend/.env
tasks-backend/NOTAS.txt
thunder-collection_Task API.json

